<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Car</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>
<h1>List cars</h1>
<table border="1">
    <tr>
        <th>Brand</th>
        <th>Color</th>
        <th>Year</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.brand}">Brand</td>
        <td th:text="${car.color}">Color</td>
        <td th:text="${car.year}">Year</td>
    </tr>
</table>
</body>
</html>